* {
	margin: 0;
	padding: 0;
}
.flickity-page-dots {
	opacity: 0;
}
.carousel-cell {
  width: 100%;
  height: 50vh;
  min-height: 250px;
  margin-right: 10px;
  .container {
  	height: 100%;
  	max-width: 1000px;
  	margin: 0 auto;
  	color: #fff;
  	text-align: center;
  	background-size: cover;
  }
}